body {
  margin: 0 auto;
  font-family: "Ubuntu", sans-serif;
  background-color: #ccc;
  color: #000;
}

h1 {
  text-align: center;
}

.dataTable {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr 1fr;
  grid-gap: 1px;
  color: black;
  padding-top: 1rem;
  /* width: 70%;
  margin: 0 auto; */
}
.dataTable > div {
  background-color: #fff;
  padding: 1rem;
}
.dataTable > .dataTableHeader {
  position: sticky;
  top: 0;
  font-size: 20px;
  font-weight: bold;
  background-color: #f89232;
  color: #fff;
  height: 30px;
}

.categoriesList {
  list-style: none;
}

.instructions {
  text-align: center;
  font-size: 20px;
}

.removeBtn {
  border: 0;
  background: none;
}

@media only screen and (max-width: 600px) {
  .dataTable > .dataTableHeader {
    display: none;
  }
  .dataTable {
    display: block;
  }
  .dataTable > .finalDiv {
    border-bottom: 1rem solid #ccc;
  }
  .dataTable > div {
    border-bottom: 1px dashed black;
  }
}
